QWidget {
    background: #232323;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium; 
}

QLabel {
    font-size: 25px;color: white;
}

QPushButton {
    color: white;
    background: #7d0000;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}


QPushButton:hover{
    border: 1px #C6C6C6 solid;
    color: #000;
    background: #fff;
}

QLineEdit {
    color : white;
    background-color: #5a5a5a;
}